

.search-text {
	float: left;
	margin-right: 1em;
	

	min-height: 2em;
	line-height: 2em;

}

.search-button {
	background-color: #999;
	color: #fff;
	padding: 0 0.5em;
	height: 2em;
	line-height: 2em;
	display: inline-block;
}

.results-container {
	clear: left;
}

.results {
	margin-top: 6em;
	padding: 1em;
	border: 1px solid #ccc;
	width: 75%;
}
